<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumTests">
    <test name="Webpage Scenarios">
        <classes>
            <!-- Add more test classes here -->
            <class name="com.seleniumtest.Scenario4"/>            
            <class name="com.seleniumtest.Scenario5"/>
        </classes>
    </test>
</suite>
